[submodule "Otp.NET"]
	path = Otp.NET
	url = https://github.com/2fast-team/Otp.NET.git
[submodule "UNOversalTemplate"]
	path = UNOversalTemplate
	url = https://github.com/jp-weber/UNOversalTemplate.git
[submodule "BiometryService"]
	path = BiometryService
	url = https://github.com/jp-weber/BiometryService.git

[submodule "ZXing.Net.Uno"]
	path = ZXing.Net.Uno
	url = https://github.com/2fast-team/ZXing.Net.Uno.git
