<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap mp rescap">
	<Identity Name="38343JanPhilippWeber.2fastBeta" Publisher="CN=31DBFF9D-D4FF-4E73-808A-7B49119D08D3" Version="1.2.0.0" />
	<mp:PhoneIdentity PhoneProductId="81c17ee8-a49a-45af-ab75-4b390e1dc2e8" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
	<Properties>
		<DisplayName>2fast (Beta)</DisplayName>
		<PublisherDisplayName>Jan Philipp Weber</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>
	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>
	<Resources>
		<Resource Language="x-generate" />
	</Resources>
	<Applications>
		<Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Project2FA.UWP.App">
			<uap:VisualElements DisplayName="[Beta] 2fast - two factor authenticator supporting TOTP" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent" Description="Project2FA">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="2fast">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="wide310x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo"/>
						<uap:ShowOn Tile="square150x150Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile>
				<uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#009BC1"/>
			</uap:VisualElements>
			<Extensions>
				<uap:Extension Category="windows.fileTypeAssociation">
					<uap:FileTypeAssociation Name="2fa">
						<uap:Logo>Assets\FileLogo.png</uap:Logo>
						<uap:SupportedFileTypes>
							<uap:FileType>.2fa</uap:FileType>
						</uap:SupportedFileTypes>
					</uap:FileTypeAssociation>
				</uap:Extension>
			</Extensions>
		</Application>
	</Applications>
	<Capabilities>
		<rescap:Capability Name="broadFileSystemAccess"/>
		<uap:Capability Name="removableStorage"/>
		<Capability Name="privateNetworkClientServer"/>
		<Capability Name="internetClient"/>
	</Capabilities>
</Package>